@tailwind base;
@tailwind components;
@tailwind utilities;

.main,
html {
  background-color: #141516;
  overflow: hidden;
}

.gutter {
  background-color: #141516;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter:hover {
  background-color: cornflowerblue;
}

.gutter.gutter-horizontal {
  background-image: url("assets/vertical.svg");
  background-position: center center;
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url("assets/horizontal.svg");
  background-position: center center;

  cursor: row-resize;
}
