@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Bebas+Neue&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.main,
html {
  margin: 0;
  padding: 0;
}
.poppins-font {
  font-family: "Poppins", sans-serif;
}
.bebas-font {
  font-family: "Bebas Neue", sans-serif;
}
.gutter {
  background-color: #141516;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter:hover {
  background-color: cornflowerblue;
}

.gutter.gutter-horizontal {
  background-image: url("assets/vertical.svg");
  background-position: center center;
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url("assets/horizontal.svg");
  background-position: center center;

  cursor: row-resize;
}
#hero-cta {
  -webkit-text-size-adjust: 100%;
  font-family: "DM Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0.2rem;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  border: 1px #000;
  background-color: #fff;
  transition: color 0.2s, background-color 0.2s;
  color: #000;
  transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  opacity: 1;
}
#hero-cta:hover {
  background-color: #0082ff;
  color: #fff;
}
.spinner {
  width: 70.4px;
  height: 70.4px;
  --clr: rgb(247, 197, 159);
  --clr-alpha: rgb(247, 197, 159, 0.1);
  -webkit-animation: spinner 1.6s infinite ease;
  animation: spinner 1.6s infinite ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.spinner > div {
  background-color: var(--clr-alpha);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 3.5px solid var(--clr);
}

.spinner div:nth-of-type(1) {
  -webkit-transform: translateZ(-35.2px) rotateY(180deg);
  transform: translateZ(-35.2px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  -webkit-transform: rotateY(-270deg) translateX(50%);
  transform: rotateY(-270deg) translateX(50%);
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  -webkit-transform: rotateY(270deg) translateX(-50%);
  transform: rotateY(270deg) translateX(-50%);
  -webkit-transform-origin: center left;
  -ms-transform-origin: center left;
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  -webkit-transform: rotateX(90deg) translateY(-50%);
  transform: rotateX(90deg) translateY(-50%);
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  -webkit-transform: rotateX(-90deg) translateY(50%);
  transform: rotateX(-90deg) translateY(50%);
  -webkit-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  -webkit-transform: translateZ(35.2px);
  transform: translateZ(35.2px);
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}
